function indexOf(str, target) {
  return str.indexOf(target);
}

function join(arr, str) {
  str = str || '\n\n';
  return arr.join(str)
}

function toFixed(num, target) {
  return num.toFixed(target);
}

function formatSeconds(value) {
  var theTime = parseInt(value);// 秒
  var theTime1 = 0;// 分
  var theTime2 = 0;// 小时

  if (theTime > 60) {
    theTime1 = parseInt(theTime / 60);
    theTime = parseInt(theTime % 60);

    if (theTime1 > 60) {
      theTime2 = parseInt(theTime1 / 60);
      theTime1 = parseInt(theTime1 % 60);
    }
  }

  var result = "" + parseInt(theTime) + "秒";
  if (theTime1 > 0) {
    result = "" + parseInt(theTime1) + "分" + result;
  }
  if (theTime2 > 0) {
    result = "" + parseInt(theTime2) + "小时" + result;
  }
  return result;
}

function mytypeof(target) {
  return typeof(target)
}

module.exports = {
  indexOf: indexOf,
  join: join,
  toFixed: toFixed,
  formatSeconds: formatSeconds,
  mytypeof: mytypeof
}